<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JPK WB loader</title>
    <link media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
</head>
<body>
<h1>Custom CSV to JPK WB XML</h1>
<form action="#" class="center-form" enctype="multipart/form-data" method="POST" th:action="@{/upload}">
    <label class="input-label" for="header">Header file</label>
    <input class="file-input" id="header" name="header" type="file"/>
    <label class="input-label" for="rows">Rows file</label>
    <input class="file-input" id="rows" name="rows" type="file"/>
    <br/>
    <button class="submit-button" type="submit">Convert</button>
</form>
<h2>JPK WB XML</h2>
<label class="input-label" for="result">Result</label>
<textarea class="result-textarea" cols="50" id="result" readonly="readonly" rows="10"
          th:text="${mergedText}"></textarea>
</body>
</html>